@model GlassProject.Models.SignUp
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Facny Mandir-Shiny glass-2</title>
    <link href="~/Styles/NewIndexStyleSheet.css" rel="stylesheet" />
    <link href="~/Styles/Dropdown.css" rel="stylesheet" />
    <link href="~/Styles/Photocard.css" rel="stylesheet" />
    <link href="~/Styles/SVG1.css" rel="stylesheet" />
    <link href="~/sliderengine/amazingslider-1.css" />
    <link href="~/Styles/DescriptionCss.css" rel="stylesheet" />
    <script src="~/sliderengine/jquery.js"></script>
    <script src="~/sliderengine/amazingslider.js"></script>
    <script src="~/sliderengine/initslider-1.js"></script>
    <link href="~/Styles/aos.css" rel="stylesheet" />
    <script src="~/Script/aos.js"></script>
    <link href="~/Styles/animate.css" rel="stylesheet" />
    <script src="~/Script/sweetalert.min.js"></script>
    <style>
        * {
            font-family: monospace;
        }

        html, body {
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    <div id="main">
        <div class="Title">
            <div class="img" style="padding:10px;">
                <a href="@Url.Action("Index", "Home")">
                    <svg id="logo" width="376" height="55" viewBox="0 0 376 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0.0960083" y="0.735992" width="376" height="55" fill="black">
                            <rect fill="white" x="0.0960083" y="0.735992" width="376" height="55" />
                            <path d="M16.504 29.572C16.504 28.6331 17.2651 27.872 18.204 27.872H25.4C28.1614 27.872 30.4 30.1106 30.4 32.872V47.8676C30.4 49.258 29.8472 50.6303 28.6681 51.3669C27.6618 51.9956 26.5111 52.5159 25.216 52.928C23.104 53.552 20.968 53.864 18.808 53.864C16.12 53.864 13.672 53.36 11.464 52.352C9.30401 51.344 7.45601 49.784 5.92001 47.672C4.38401 45.512 3.18401 42.8 2.32001 39.536C1.50401 36.272 1.09601 32.36 1.09601 27.8C1.09601 23.096 1.60001 19.112 2.60801 15.848C3.61601 12.536 4.96001 9.84799 6.64001 7.78399C8.36801 5.67199 10.312 4.13599 12.472 3.17599C14.68 2.21599 16.936 1.73599 19.24 1.73599C21.544 1.73599 23.464 1.90399 25 2.23999C25.7836 2.38245 26.5084 2.55428 27.1745 2.75546C28.2796 3.08926 28.8182 4.27181 28.5228 5.38782V5.38782C28.123 6.89808 26.3841 7.65428 24.869 7.27298C24.677 7.22465 24.4806 7.17898 24.28 7.13599C22.984 6.84799 21.472 6.70399 19.744 6.70399C18.064 6.70399 16.456 7.06399 14.92 7.78399C13.384 8.50399 11.992 9.70399 10.744 11.384C9.54401 13.016 8.58401 15.176 7.86401 17.864C7.14401 20.552 6.78401 23.864 6.78401 27.8C6.78401 35 7.91201 40.328 10.168 43.784C12.472 47.192 15.616 48.896 19.6 48.896C21.0707 48.896 22.3914 48.6877 23.5621 48.2711C25.0605 47.7379 25.792 46.1568 25.792 44.5663V36.7255C25.792 34.2455 23.9741 32.1402 21.5206 31.7789L17.9563 31.2539C17.1221 31.131 16.504 30.4152 16.504 29.572V29.572Z" />
                            <path d="M62.3095 50.516C62.3095 51.8879 61.1974 53 59.8255 53H43.0455C40.2841 53 38.0455 50.7614 38.0455 48V5.29998C38.0455 3.80882 39.2543 2.59999 40.7455 2.59999V2.59999C42.2367 2.59999 43.4455 3.80882 43.4455 5.29999V43.032C43.4455 45.7934 45.6841 48.032 48.4455 48.032H59.8255C61.1974 48.032 62.3095 49.1441 62.3095 50.516V50.516Z" />
                            <path d="M88.7662 42.4918C88.1453 40.3565 86.1888 38.888 83.9651 38.888H77.2337C75.0013 38.888 73.0394 40.3679 72.4261 42.5144L69.9574 51.1547C69.6453 52.247 68.647 53 67.5111 53V53C65.81 53 64.5881 51.3628 65.072 49.732L78.8743 3.223C79.1234 2.38366 79.8947 1.80799 80.7702 1.80799V1.80799C81.6457 1.80799 82.417 2.38366 82.6661 3.22299L96.4141 49.5492C96.9252 51.2712 95.6349 53 93.8387 53V53C92.6439 53 91.5927 52.211 91.2591 51.0637L88.7662 42.4918ZM76.4282 28.5291C75.6605 31.3135 77.7553 34.064 80.6436 34.064V34.064C83.5432 34.064 85.6397 31.2933 84.8517 28.5029L82.0302 18.512L80.675 11.0227C80.6676 10.9818 80.6319 10.952 80.5903 10.952V10.952C80.5486 10.952 80.5129 10.9819 80.5056 11.023L79.1502 18.656L76.4282 28.5291Z" />
                            <path d="M100.887 49.3134C101.465 47.7816 103.364 47.1492 104.887 47.7497C105.189 47.8688 105.506 47.9869 105.837 48.104C107.517 48.632 109.413 48.896 111.525 48.896C114.213 48.896 116.397 48.248 118.077 46.952C119.757 45.608 120.597 43.52 120.597 40.688C120.597 38.816 120.117 37.184 119.157 35.792C118.197 34.4 116.997 33.128 115.557 31.976C114.117 30.776 112.557 29.624 110.877 28.52C109.245 27.368 107.709 26.12 106.269 24.776C104.829 23.384 103.629 21.8 102.669 20.024C101.709 18.248 101.229 16.112 101.229 13.616C101.229 9.58399 102.429 6.60799 104.829 4.68799C107.277 2.71999 110.445 1.73599 114.333 1.73599C116.733 1.73599 118.869 1.95199 120.741 2.38399C121.736 2.61347 122.629 2.87681 123.42 3.17402C124.532 3.59176 124.982 4.85181 124.576 5.96831V5.96831C124.046 7.4278 122.271 8.08817 120.786 7.63156C120.476 7.53624 120.149 7.44305 119.805 7.35199C118.221 6.91999 116.373 6.70399 114.261 6.70399C111.669 6.70399 109.749 7.35199 108.501 8.64799C107.253 9.89599 106.629 11.48 106.629 13.4C106.629 15.08 107.109 16.568 108.069 17.864C109.029 19.16 110.229 20.384 111.669 21.536C113.109 22.688 114.645 23.864 116.277 25.064C117.957 26.216 119.517 27.512 120.957 28.952C122.397 30.392 123.597 32.024 124.557 33.848C125.517 35.672 125.997 37.832 125.997 40.328C125.997 44.552 124.749 47.864 122.253 50.264C119.757 52.664 116.229 53.864 111.669 53.864C108.789 53.864 106.413 53.6 104.541 53.072C103.607 52.8014 102.767 52.512 102.021 52.2036C100.899 51.7397 100.459 50.4494 100.887 49.3134V49.3134Z" />
                            <path d="M131.684 49.3134C132.262 47.7816 134.161 47.1492 135.684 47.7497C135.986 47.8688 136.303 47.9869 136.634 48.104C138.314 48.632 140.21 48.896 142.322 48.896C145.01 48.896 147.194 48.248 148.874 46.952C150.554 45.608 151.394 43.52 151.394 40.688C151.394 38.816 150.914 37.184 149.954 35.792C148.994 34.4 147.794 33.128 146.354 31.976C144.914 30.776 143.354 29.624 141.674 28.52C140.042 27.368 138.506 26.12 137.066 24.776C135.626 23.384 134.426 21.8 133.466 20.024C132.506 18.248 132.026 16.112 132.026 13.616C132.026 9.58399 133.226 6.60799 135.626 4.68799C138.074 2.71999 141.242 1.73599 145.13 1.73599C147.53 1.73599 149.666 1.95199 151.538 2.38399C152.533 2.61347 153.426 2.87681 154.217 3.17402C155.329 3.59176 155.779 4.85181 155.373 5.96831V5.96831C154.842 7.4278 153.067 8.08817 151.583 7.63156C151.273 7.53624 150.946 7.44305 150.602 7.35199C149.018 6.91999 147.17 6.70399 145.058 6.70399C142.466 6.70399 140.546 7.35199 139.298 8.64799C138.05 9.89599 137.426 11.48 137.426 13.4C137.426 15.08 137.906 16.568 138.866 17.864C139.826 19.16 141.026 20.384 142.466 21.536C143.906 22.688 145.442 23.864 147.074 25.064C148.754 26.216 150.314 27.512 151.754 28.952C153.194 30.392 154.394 32.024 155.354 33.848C156.314 35.672 156.794 37.832 156.794 40.328C156.794 44.552 155.546 47.864 153.05 50.264C150.554 52.664 147.026 53.864 142.466 53.864C139.586 53.864 137.21 53.6 135.338 53.072C134.404 52.8014 133.564 52.512 132.818 52.2036C131.696 51.7397 131.256 50.4494 131.684 49.3134V49.3134Z" />
                            <path d="M197.68 42.4918C197.059 40.3565 195.103 38.888 192.879 38.888H186.148C183.915 38.888 181.953 40.3679 181.34 42.5144L178.871 51.1547C178.559 52.247 177.561 53 176.425 53V53C174.724 53 173.502 51.3628 173.986 49.732L187.788 3.223C188.037 2.38366 188.809 1.80799 189.684 1.80799V1.80799C190.56 1.80799 191.331 2.38366 191.58 3.22299L205.328 49.5492C205.839 51.2712 204.549 53 202.753 53V53C201.558 53 200.507 52.211 200.173 51.0637L197.68 42.4918ZM185.342 28.5291C184.575 31.3135 186.669 34.064 189.558 34.064V34.064C192.457 34.064 194.554 31.2933 193.766 28.5029L190.944 18.512L189.589 11.0227C189.582 10.9818 189.546 10.952 189.504 10.952V10.952C189.463 10.952 189.427 10.9819 189.42 11.023L188.064 18.656L185.342 28.5291Z" />
                            <path d="M233.926 5.08399C233.926 6.45586 232.814 7.56799 231.442 7.56799H226.542C223.781 7.56799 221.542 9.80657 221.542 12.568V50.3C221.542 51.7912 220.333 53 218.842 53V53C217.351 53 216.142 51.7912 216.142 50.3V12.568C216.142 9.80656 213.903 7.56799 211.142 7.56799H206.242C204.87 7.56799 203.758 6.45586 203.758 5.08399V5.08399C203.758 3.71211 204.87 2.59999 206.242 2.59999H231.442C232.814 2.59999 233.926 3.71211 233.926 5.08399V5.08399Z" />
                            <path d="M276.763 50.516C276.763 51.8879 275.651 53 274.279 53H257.499C254.737 53 252.499 50.7614 252.499 48V5.29998C252.499 3.80881 253.707 2.59999 255.199 2.59999V2.59999C256.69 2.59999 257.899 3.80882 257.899 5.29998V43.032C257.899 45.7934 260.137 48.032 262.899 48.032H274.279C275.651 48.032 276.763 49.1441 276.763 50.516V50.516Z" />
                            <path d="M303.219 42.4918C302.598 40.3565 300.642 38.888 298.418 38.888H291.687C289.454 38.888 287.492 40.3679 286.879 42.5144L284.411 51.1547C284.098 52.247 283.1 53 281.964 53V53C280.263 53 279.041 51.3628 279.525 49.732L293.327 3.223C293.576 2.38366 294.348 1.80799 295.223 1.80799V1.80799C296.099 1.80799 296.87 2.38366 297.119 3.22299L310.867 49.5492C311.378 51.2712 310.088 53 308.292 53V53C307.097 53 306.046 52.2109 305.712 51.0637L303.219 42.4918ZM290.881 28.5291C290.114 31.3135 292.208 34.064 295.097 34.064V34.064C297.996 34.064 300.093 31.2933 299.305 28.5029L296.483 18.512L295.128 11.0227C295.121 10.9818 295.085 10.952 295.043 10.952V10.952C295.002 10.952 294.966 10.9819 294.959 11.023L293.603 18.656L290.881 28.5291Z" />
                            <path d="M315.341 49.3134C315.918 47.7816 317.817 47.1492 319.34 47.7497C319.642 47.8688 319.959 47.9869 320.291 48.104C321.971 48.632 323.867 48.896 325.979 48.896C328.667 48.896 330.851 48.248 332.531 46.952C334.211 45.608 335.051 43.52 335.051 40.688C335.051 38.816 334.571 37.184 333.611 35.792C332.651 34.4 331.451 33.128 330.011 31.976C328.571 30.776 327.011 29.624 325.331 28.52C323.699 27.368 322.163 26.12 320.723 24.776C319.283 23.384 318.083 21.8 317.123 20.024C316.163 18.248 315.683 16.112 315.683 13.616C315.683 9.58399 316.883 6.60799 319.283 4.68799C321.731 2.71999 324.899 1.73599 328.787 1.73599C331.187 1.73599 333.323 1.95199 335.195 2.38399C336.189 2.61347 337.082 2.87681 337.873 3.17402C338.985 3.59176 339.435 4.85181 339.029 5.96831V5.96831C338.499 7.4278 336.724 8.08817 335.239 7.63156C334.929 7.53624 334.603 7.44305 334.259 7.35199C332.675 6.91999 330.827 6.70399 328.715 6.70399C326.123 6.70399 324.203 7.35199 322.955 8.64799C321.707 9.89599 321.083 11.48 321.083 13.4C321.083 15.08 321.563 16.568 322.523 17.864C323.483 19.16 324.683 20.384 326.123 21.536C327.563 22.688 329.099 23.864 330.731 25.064C332.411 26.216 333.971 27.512 335.411 28.952C336.851 30.392 338.051 32.024 339.011 33.848C339.971 35.672 340.451 37.832 340.451 40.328C340.451 44.552 339.203 47.864 336.707 50.264C334.211 52.664 330.683 53.864 326.123 53.864C323.243 53.864 320.867 53.6 318.995 53.072C318.06 52.8014 317.22 52.512 316.474 52.2036C315.353 51.7397 314.913 50.4494 315.341 49.3134V49.3134Z" />
                            <path d="M374.199 5.08399C374.199 6.45586 373.087 7.56799 371.715 7.56799H366.815C364.054 7.56799 361.815 9.80657 361.815 12.568V50.3C361.815 51.7912 360.607 53 359.115 53V53C357.624 53 356.415 51.7912 356.415 50.3V12.568C356.415 9.80656 354.177 7.56799 351.415 7.56799H346.515C345.144 7.56799 344.031 6.45586 344.031 5.08399V5.08399C344.031 3.71211 345.144 2.59999 346.515 2.59999H371.715C373.087 2.59999 374.199 3.71211 374.199 5.08399V5.08399Z" />
                        </mask>
                        <path d="M16.504 29.572C16.504 28.6331 17.2651 27.872 18.204 27.872H25.4C28.1614 27.872 30.4 30.1106 30.4 32.872V47.8676C30.4 49.258 29.8472 50.6303 28.6681 51.3669C27.6618 51.9956 26.5111 52.5159 25.216 52.928C23.104 53.552 20.968 53.864 18.808 53.864C16.12 53.864 13.672 53.36 11.464 52.352C9.30401 51.344 7.45601 49.784 5.92001 47.672C4.38401 45.512 3.18401 42.8 2.32001 39.536C1.50401 36.272 1.09601 32.36 1.09601 27.8C1.09601 23.096 1.60001 19.112 2.60801 15.848C3.61601 12.536 4.96001 9.84799 6.64001 7.78399C8.36801 5.67199 10.312 4.13599 12.472 3.17599C14.68 2.21599 16.936 1.73599 19.24 1.73599C21.544 1.73599 23.464 1.90399 25 2.23999C25.7836 2.38245 26.5084 2.55428 27.1745 2.75546C28.2796 3.08926 28.8182 4.27181 28.5228 5.38782V5.38782C28.123 6.89808 26.3841 7.65428 24.869 7.27298C24.677 7.22465 24.4806 7.17898 24.28 7.13599C22.984 6.84799 21.472 6.70399 19.744 6.70399C18.064 6.70399 16.456 7.06399 14.92 7.78399C13.384 8.50399 11.992 9.70399 10.744 11.384C9.54401 13.016 8.58401 15.176 7.86401 17.864C7.14401 20.552 6.78401 23.864 6.78401 27.8C6.78401 35 7.91201 40.328 10.168 43.784C12.472 47.192 15.616 48.896 19.6 48.896C21.0707 48.896 22.3914 48.6877 23.5621 48.2711C25.0605 47.7379 25.792 46.1568 25.792 44.5663V36.7255C25.792 34.2455 23.9741 32.1402 21.5206 31.7789L17.9563 31.2539C17.1221 31.131 16.504 30.4152 16.504 29.572V29.572Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)" />
                        <path d="M62.3095 50.516C62.3095 51.8879 61.1974 53 59.8255 53H43.0455C40.2841 53 38.0455 50.7614 38.0455 48V5.29998C38.0455 3.80882 39.2543 2.59999 40.7455 2.59999V2.59999C42.2367 2.59999 43.4455 3.80882 43.4455 5.29999V43.032C43.4455 45.7934 45.6841 48.032 48.4455 48.032H59.8255C61.1974 48.032 62.3095 49.1441 62.3095 50.516V50.516Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)" />
                        <path d="M88.7662 42.4918C88.1453 40.3565 86.1888 38.888 83.9651 38.888H77.2337C75.0013 38.888 73.0394 40.3679 72.4261 42.5144L69.9574 51.1547C69.6453 52.247 68.647 53 67.5111 53V53C65.81 53 64.5881 51.3628 65.072 49.732L78.8743 3.223C79.1234 2.38366 79.8947 1.80799 80.7702 1.80799V1.80799C81.6457 1.80799 82.417 2.38366 82.6661 3.22299L96.4141 49.5492C96.9252 51.2712 95.6349 53 93.8387 53V53C92.6439 53 91.5927 52.211 91.2591 51.0637L88.7662 42.4918ZM76.4282 28.5291C75.6605 31.3135 77.7553 34.064 80.6436 34.064V34.064C83.5432 34.064 85.6397 31.2933 84.8517 28.5029L82.0302 18.512L80.675 11.0227C80.6676 10.9818 80.6319 10.952 80.5903 10.952V10.952C80.5486 10.952 80.5129 10.9819 80.5056 11.023L79.1502 18.656L76.4282 28.5291Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)" />
                        <path d="M100.887 49.3134C101.465 47.7816 103.364 47.1492 104.887 47.7497C105.189 47.8688 105.506 47.9869 105.837 48.104C107.517 48.632 109.413 48.896 111.525 48.896C114.213 48.896 116.397 48.248 118.077 46.952C119.757 45.608 120.597 43.52 120.597 40.688C120.597 38.816 120.117 37.184 119.157 35.792C118.197 34.4 116.997 33.128 115.557 31.976C114.117 30.776 112.557 29.624 110.877 28.52C109.245 27.368 107.709 26.12 106.269 24.776C104.829 23.384 103.629 21.8 102.669 20.024C101.709 18.248 101.229 16.112 101.229 13.616C101.229 9.58399 102.429 6.60799 104.829 4.68799C107.277 2.71999 110.445 1.73599 114.333 1.73599C116.733 1.73599 118.869 1.95199 120.741 2.38399C121.736 2.61347 122.629 2.87681 123.42 3.17402C124.532 3.59176 124.982 4.85181 124.576 5.96831V5.96831C124.046 7.4278 122.271 8.08817 120.786 7.63156C120.476 7.53624 120.149 7.44305 119.805 7.35199C118.221 6.91999 116.373 6.70399 114.261 6.70399C111.669 6.70399 109.749 7.35199 108.501 8.64799C107.253 9.89599 106.629 11.48 106.629 13.4C106.629 15.08 107.109 16.568 108.069 17.864C109.029 19.16 110.229 20.384 111.669 21.536C113.109 22.688 114.645 23.864 116.277 25.064C117.957 26.216 119.517 27.512 120.957 28.952C122.397 30.392 123.597 32.024 124.557 33.848C125.517 35.672 125.997 37.832 125.997 40.328C125.997 44.552 124.749 47.864 122.253 50.264C119.757 52.664 116.229 53.864 111.669 53.864C108.789 53.864 106.413 53.6 104.541 53.072C103.607 52.8014 102.767 52.512 102.021 52.2036C100.899 51.7397 100.459 50.4494 100.887 49.3134V49.3134Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)" />
                        <path d="M131.684 49.3134C132.262 47.7816 134.161 47.1492 135.684 47.7497C135.986 47.8688 136.303 47.9869 136.634 48.104C138.314 48.632 140.21 48.896 142.322 48.896C145.01 48.896 147.194 48.248 148.874 46.952C150.554 45.608 151.394 43.52 151.394 40.688C151.394 38.816 150.914 37.184 149.954 35.792C148.994 34.4 147.794 33.128 146.354 31.976C144.914 30.776 143.354 29.624 141.674 28.52C140.042 27.368 138.506 26.12 137.066 24.776C135.626 23.384 134.426 21.8 133.466 20.024C132.506 18.248 132.026 16.112 132.026 13.616C132.026 9.58399 133.226 6.60799 135.626 4.68799C138.074 2.71999 141.242 1.73599 145.13 1.73599C147.53 1.73599 149.666 1.95199 151.538 2.38399C152.533 2.61347 153.426 2.87681 154.217 3.17402C155.329 3.59176 155.779 4.85181 155.373 5.96831V5.96831C154.842 7.4278 153.067 8.08817 151.583 7.63156C151.273 7.53624 150.946 7.44305 150.602 7.35199C149.018 6.91999 147.17 6.70399 145.058 6.70399C142.466 6.70399 140.546 7.35199 139.298 8.64799C138.05 9.89599 137.426 11.48 137.426 13.4C137.426 15.08 137.906 16.568 138.866 17.864C139.826 19.16 141.026 20.384 142.466 21.536C143.906 22.688 145.442 23.864 147.074 25.064C148.754 26.216 150.314 27.512 151.754 28.952C153.194 30.392 154.394 32.024 155.354 33.848C156.314 35.672 156.794 37.832 156.794 40.328C156.794 44.552 155.546 47.864 153.05 50.264C150.554 52.664 147.026 53.864 142.466 53.864C139.586 53.864 137.21 53.6 135.338 53.072C134.404 52.8014 133.564 52.512 132.818 52.2036C131.696 51.7397 131.256 50.4494 131.684 49.3134V49.3134Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)" />
                        <path d="M197.68 42.4918C197.059 40.3565 195.103 38.888 192.879 38.888H186.148C183.915 38.888 181.953 40.3679 181.34 42.5144L178.871 51.1547C178.559 52.247 177.561 53 176.425 53V53C174.724 53 173.502 51.3628 173.986 49.732L187.788 3.223C188.037 2.38366 188.809 1.80799 189.684 1.80799V1.80799C190.56 1.80799 191.331 2.38366 191.58 3.22299L205.328 49.5492C205.839 51.2712 204.549 53 202.753 53V53C201.558 53 200.507 52.211 200.173 51.0637L197.68 42.4918ZM185.342 28.5291C184.575 31.3135 186.669 34.064 189.558 34.064V34.064C192.457 34.064 194.554 31.2933 193.766 28.5029L190.944 18.512L189.589 11.0227C189.582 10.9818 189.546 10.952 189.504 10.952V10.952C189.463 10.952 189.427 10.9819 189.42 11.023L188.064 18.656L185.342 28.5291Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)" />
                        <path d="M233.926 5.08399C233.926 6.45586 232.814 7.56799 231.442 7.56799H226.542C223.781 7.56799 221.542 9.80657 221.542 12.568V50.3C221.542 51.7912 220.333 53 218.842 53V53C217.351 53 216.142 51.7912 216.142 50.3V12.568C216.142 9.80656 213.903 7.56799 211.142 7.56799H206.242C204.87 7.56799 203.758 6.45586 203.758 5.08399V5.08399C203.758 3.71211 204.87 2.59999 206.242 2.59999H231.442C232.814 2.59999 233.926 3.71211 233.926 5.08399V5.08399Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)" />
                        <path d="M276.763 50.516C276.763 51.8879 275.651 53 274.279 53H257.499C254.737 53 252.499 50.7614 252.499 48V5.29998C252.499 3.80881 253.707 2.59999 255.199 2.59999V2.59999C256.69 2.59999 257.899 3.80882 257.899 5.29998V43.032C257.899 45.7934 260.137 48.032 262.899 48.032H274.279C275.651 48.032 276.763 49.1441 276.763 50.516V50.516Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)" />
                        <path d="M303.219 42.4918C302.598 40.3565 300.642 38.888 298.418 38.888H291.687C289.454 38.888 287.492 40.3679 286.879 42.5144L284.411 51.1547C284.098 52.247 283.1 53 281.964 53V53C280.263 53 279.041 51.3628 279.525 49.732L293.327 3.223C293.576 2.38366 294.348 1.80799 295.223 1.80799V1.80799C296.099 1.80799 296.87 2.38366 297.119 3.22299L310.867 49.5492C311.378 51.2712 310.088 53 308.292 53V53C307.097 53 306.046 52.2109 305.712 51.0637L303.219 42.4918ZM290.881 28.5291C290.114 31.3135 292.208 34.064 295.097 34.064V34.064C297.996 34.064 300.093 31.2933 299.305 28.5029L296.483 18.512L295.128 11.0227C295.121 10.9818 295.085 10.952 295.043 10.952V10.952C295.002 10.952 294.966 10.9819 294.959 11.023L293.603 18.656L290.881 28.5291Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)" />
                        <path d="M315.341 49.3134C315.918 47.7816 317.817 47.1492 319.34 47.7497C319.642 47.8688 319.959 47.9869 320.291 48.104C321.971 48.632 323.867 48.896 325.979 48.896C328.667 48.896 330.851 48.248 332.531 46.952C334.211 45.608 335.051 43.52 335.051 40.688C335.051 38.816 334.571 37.184 333.611 35.792C332.651 34.4 331.451 33.128 330.011 31.976C328.571 30.776 327.011 29.624 325.331 28.52C323.699 27.368 322.163 26.12 320.723 24.776C319.283 23.384 318.083 21.8 317.123 20.024C316.163 18.248 315.683 16.112 315.683 13.616C315.683 9.58399 316.883 6.60799 319.283 4.68799C321.731 2.71999 324.899 1.73599 328.787 1.73599C331.187 1.73599 333.323 1.95199 335.195 2.38399C336.189 2.61347 337.082 2.87681 337.873 3.17402C338.985 3.59176 339.435 4.85181 339.029 5.96831V5.96831C338.499 7.4278 336.724 8.08817 335.239 7.63156C334.929 7.53624 334.603 7.44305 334.259 7.35199C332.675 6.91999 330.827 6.70399 328.715 6.70399C326.123 6.70399 324.203 7.35199 322.955 8.64799C321.707 9.89599 321.083 11.48 321.083 13.4C321.083 15.08 321.563 16.568 322.523 17.864C323.483 19.16 324.683 20.384 326.123 21.536C327.563 22.688 329.099 23.864 330.731 25.064C332.411 26.216 333.971 27.512 335.411 28.952C336.851 30.392 338.051 32.024 339.011 33.848C339.971 35.672 340.451 37.832 340.451 40.328C340.451 44.552 339.203 47.864 336.707 50.264C334.211 52.664 330.683 53.864 326.123 53.864C323.243 53.864 320.867 53.6 318.995 53.072C318.06 52.8014 317.22 52.512 316.474 52.2036C315.353 51.7397 314.913 50.4494 315.341 49.3134V49.3134Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)" />
                        <path d="M374.199 5.08399C374.199 6.45586 373.087 7.56799 371.715 7.56799H366.815C364.054 7.56799 361.815 9.80657 361.815 12.568V50.3C361.815 51.7912 360.607 53 359.115 53V53C357.624 53 356.415 51.7912 356.415 50.3V12.568C356.415 9.80656 354.177 7.56799 351.415 7.56799H346.515C345.144 7.56799 344.031 6.45586 344.031 5.08399V5.08399C344.031 3.71211 345.144 2.59999 346.515 2.59999H371.715C373.087 2.59999 374.199 3.71211 374.199 5.08399V5.08399Z" stroke="white" stroke-width="2" mask="url(#path-1-outside-1)" />
                    </svg>
                </a>
            </div>
            <div class="LoginDropdown">

                <div class="dropdown">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="dropbtn">
                            <span class="Logout" onclick="openNav()">Welcome:-@Session["Name"]</span>
                        </button>
                        <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            @Html.ActionLink("Home", "Index")
                            @Html.ActionLink("Manage my profiles", "Details", "Account", new { id = Session["Id"] }, new { name = Session["Name"] })
                            @Html.ActionLink("Manage My orders", "Orders", "Home", new { PMail = Session["Mail"] }, new { name = Session["Name"] })
                            @Html.ActionLink("Logout", "Logout", "Account")
                        </div>
                    }
                    else
                    {
                        <div class="dropbtn">
                            <span class="Login">@Html.ActionLink("Login", "Login", "Account", null, new { @class = "dropbtnlink" })</span>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="Content2">
            <div class="Photos">
                <div class="amazingslider-wrapper animated fadeInRight" id="amazingslider-wrapper-1" style="position:relative; max-width:600px; margin:0 auto 0; ">
                    <div class="amazingslider" id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
                        <ul class="amazingslider-slides" style="display:none;">
                            <li>
                                <img src="~/Images/glasatlast/FancyGlassMandir/images(8).jpeg" alt="Fancy Mandir" title="Fancy Mandir" data-texteffect="Bottom bar" />
                            </li>
                        </ul>
                        <ul class="amazingslider-thumbnails" style="display:none;">
                            <li>
                                <img src="~/Images/glasatlast/FancyGlassMandir/images(8)-tn.jpeg" alt="Fancy Mandir" title="Fancy Mandir" id="elephant" />
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <br />
            <br />
            <div class="ContentBox">

                <div class="LSB">

                    <div class="innerLSB">
                        <a href="@Url.Action("FancyMandir","Home")">
                            <span style="font-size:1.4em;">Fancy Mandir types</span>
                        </a>
                        <br />
                        <hr />
                        @Html.ActionLink("Fancy Mandir - Plane Glass Rs-2000", "FancyMandirDescription")
                        <br>
                        @Html.ActionLink("Fancy Mandir - Fancy Glass Rs-3000", "FancyMandirFancyGlass")
                        <br />
                        @Html.ActionLink("-Fancy Mandir - Shiny Glass Rs-2500", "FancyMandirShinyGlass")
                        <br />
                        @Html.ActionLink("-Fancy Mandir - Mirror Glass Rs-5000", "FancyMandirMirrorGlass")
                        <br />
                        @Html.ActionLink("-Fancy Mandir - Plane Glass Rs-3000", "FancyMandirDescription2")
                        <br />
                        @Html.ActionLink("-Fancy Mandir - Fancy Glass Rs-4000", "FancyMandirFancyGlass2")
                        <br />
                        <div class="Active">
                            <a href="">Fancy Mandir<br /> &nbsp;Shiny Glass-2</a>
                            <span style='font-size:1.4em;'>&#8658;</span>
                        </div>
                        <a href="@Url.Action("GlassProducts","Home")">
                            <span style="font-size:1.4em;">Glass Products</span>
                            </a>
                            <br />
                            <hr />
                            @Html.ActionLink("-Fish tank", "FishTank")
                            <br />
                            @Html.ActionLink("-Fancy Mandir", "FancyMandir")
                            <br />
                            @Html.ActionLink("-Table Top", "TableTop")
                            <br />
                            @Html.ActionLink("-Fancy Mirror", "FancyMirrors")
                            <br />
                            @Html.ActionLink("-Wash Basin", "WashBasin")
                    </div>
                </div>
                <div class="description" data-aos="fade-left">
                    <table>
                        <tr data-aos="fade-left">
                            <th style="font-size:1.4em;">Parameters</th>
                            <th>Details</th>
                        </tr>
                        <tr>
                            <td data-aos="fade-left">
                                Name:-
                            </td>
                            <td data-aos="fade-left">
                                <span class="ProductName">Fancy Mandir-Shiny Glass-2</span>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Product Type:-
                            </td>
                            <td>
                                <div class="ProductType">Glass Product</div>

                            </td>
                        </tr>

                        <tr>
                            <td data-aos="fade-left">Description:-</td>
                            <td data-aos="fade-left">
                                -
                                <span style="color: #47d6d2; font-weight: bold;">GAl</span> assured
                                <br />
                                -Free Delivery in 3 days
                                <br />
                                -Various Glass Types available
                                <br />
                                -Made with 5mm plane Glass
                                <br />
                                -Online Payment Only
                                <br />
                                -The sides are joint with "Dow Corning" silicon
                                <br />
                                -Made with good crystal glass
                                <br />
                                -Bends are made with the C.P. machines
                            </td>
                        </tr>
                        <tr>
                            <td data-aos="fade-left">Highlights:-</td>
                            <td>
                                <div class="4mmHg" data-aos="fade-left">
                                    -Shiny glass like a star
                                    <br />
                                    -Easy to keep anywhere at home
                                    <br />
                                    -If you want for home pooja,Then you are at perfect product just go for it
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-aos="fade-left">Price:-</td>
                            <td data-aos="fade-left">
                                <span class="ProductPrice" style="font-size:1.6em;color:red;">Rs.3500</span>
                                <br />
                                @Html.ActionLink("Continue", "BuyNow", "Account", new { id = Session["Id"] }, new { @class = "continue", style = "display:none" })
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="relatedProducts"></div>
            <div class="Footer" style="height:100px">

            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        var n = $(".ProductName").text();
        var pt = $(".ProductType").text();
        var pr = $(".ProductPrice").text();
        var c = 0, sqft = 0, l = 0, b = 0;

        var img = $("#elephant").attr('src');
        localStorage.setItem("Length", l);
        localStorage.setItem("breadth", b);
        localStorage.setItem("Value", pr);
        localStorage.setItem("PN", n);
        localStorage.setItem("I", img);
        localStorage.setItem("PT", pt);
        localStorage.setItem("Polish", c);
        localStorage.setItem("sqft", sqft);
        $(".continue").attr('style', 'display:block');

    });

    function Continue() {
        window.location.href = "/Account/BuyNow";
    };

    AOS.init({
        duration: 800,
    });

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginRight = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginRight = "0";
        document.body.style.backgroundColor = "white";
    }
</script>
